body {
    /* background: linear-gradient(to bottom, red, orange 14.29%, yellow 28.57%, green 42.86%, blue 57.14%, indigo 71.43%, violet);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

h1 {
    font-size: 45px;
    text-align: center;

}
p {
    font-size: 20px;
    margin-top:20px;
}
ol {
    font-size: 25px;
}
a {
    font-size: 25px;
}

.Container {
    width: 80%; 
    margin: 0 auto; 
    margin-top: 20px; 
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.Container2 {
    width: 80%; 
    margin: 0 auto; 
    margin-top: 20px; 
    padding: 20px;
}
.img-container {
    /* display: flex; */
    /* justify-content: center; */
    display: inline-block;
}
.image {
    border : 2px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
}

.hr {
    width : 80%;
    border: 1px solid black;
    margin-top: 20px;
}

.navbar {
    margin: 0 auto; 
    width : 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

