#openButton, #closeButton {
    display: none; /* 기본적으로 버튼 숨기기 */
}
body {
    background: linear-gradient(to bottom right, #145227, #b7e9c7);
    height: 100vh;
    margin: 0;
}
p {
    color: #FFFFFF;
    font-size: 20px;
    margin-top:20px;
}
ol {
    color: #FFFFFF;
    font-size: 25px;
}
a {
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none; /* 밑줄 없애기 */
}

.Container2 {
    color: #FFFFFF;
    width: 80%; 
    margin: 0 auto; 
    margin-top: 20px; 
    padding: 20px;
}
.img-container {
    color: #FFFFFF;
    display: inline-block;
}
.profile {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
}

.hr {
    color: #FFFFFF;
    width : 80%;
    border: 1px solid black;
    margin-top: 20px;
}

.form {
    align-items: center;
}
.form-row {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    margin-bottom: 10px; /* 간격 추가 */
}
label {
    width: 150px; /* 레이블의 너비 고정 */
    margin-right: 10px; /* 레이블과 입력 필드 사이 간격 */
}

input, select {
    flex-grow: 1; /* 입력 필드가 남은 공간을 모두 차지하도록 설정 */
}